header
{
    background-color:#818099;
    font-size:large;
    max-width:1024px;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;
}

#leftMenu
{
    float:left;
    padding-right:25px;
    background-color:#87A88D;
    padding-top:7px;
    padding-bottom:10px;
    width:125px;
    height:400px;
}

.menuItem
{
    color:black;
    display:block;
    float:left;
    clear:left;
    margin:3px 0px 3px 10px;
}

main
{
    float:left;
    clear:none;
    margin:10px 0px 0px 10px;
    width:800px;
    text-wrap:normal;
    overflow-wrap:normal;
}

footer
{
    clear:left;
    background-color:#5C5B8D;
    font-size:large;
    max-width:1024px;
    text-align:center;
    padding:25px 0px 25px 0px;
    margin-top:-10px;
}