#divBarGraph
{
    border:solid 1px black;
    height:200px;
    width:332px;
    position:relative; 
    margin-left:50px;
}

.bar
{
    background-color:#FF2721;
    position:absolute;
    bottom:0;
}

.barLabel 
{
    text-align:center;
    float:left;
    position:absolute;
}

.graphDiv
{
    margin-left:10px;
}